{% extends 'base.html.twig' %}

{% block title %}Edit Review{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/review.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('scripts/review.js') }}"></script>
{% endblock %}

{% block body %}
    <h1 class="titre">Valider ou Supprimer un commentaire</h1>
    {{ include('review/_form.html.twig', {'button_label': 'Valider'}) }}
    {{ include('review/_delete_form.html.twig') }}
    <a href="{{ path('app_review_index') }}" class="btnAction">Retour</a>
{% endblock %}
