{% extends 'base.html.twig' %}

{% block title %}Car index{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/car.css') }}">
{% endblock %}

{% block body %}
    <h1 class="titre">Véhicules</h1>

    <table class="table">
        <thead>
            <tr class="tableIndex">
                <th>Nom</th>
                <th>Année</th>
                <th>Kilométrage</th>
                <th>Energie</th>
                <th>Puissance</th>
                <th>n°porte</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr class="tableDescription">
                <td>{{ car.name }}</td>
                <td>{{ car.date }}</td>
                <td>{{ car.Kilometrage }}</td>
                <td>{{ car.energie }}</td>
                <td>{{ car.power }}</td>
                <td>{{ car.gate }}</td>
                <td>{{ car.price }}</td>
                <td class="tableAction">
                    <a href="{{ path('app_car_edit', {'id': car.id}) }}" class="btnActionModifier">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_car_new') }}" class="btnAction">Ajouter un véhicule</a>
    {% if is_granted('ROLE_USER') %}
        {% set retourUrl = path('app_user') %}
    {% elseif is_granted('ROLE_ADMIN') %}
        {% set retourUrl = path('app_admin') %}
    {% endif %}
    <a href="{{ retourUrl }}" class="btnAction">Retour</a>
{% endblock %}
