{% block body %}
<div class="form">
   {{ form_start(form,{'attr': {'class': 'for'}}) }}
    <div class="formContent">
        {{ form_label(form.email, 'Email', {'label_attr': {'class': 'label'}}) }}
        {{ form_widget(form.email, {'attr': {'class': 'input'}}) }}
        {{ form_label(form.password, 'Password', {'label_attr': {'class': 'label'}}) }}
        {{ form_widget(form.password, {'attr': {'class': 'input'}}) }}
    </div>
    <button class="btnAction">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
</div>
{% endblock %}