<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('styles/header.css') }}">
</head>
<body>
    <header class="header">
        <img class="logo" src="{{ asset('images/logo.jpg') }}" alt="logo"></a>
        <div class="headerNav">
                <a href="{{ path('app_login') }}" class="header2"></i>Connexion</a>
            <div class="burger-menu" id="burger-menu">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <nav class="nav">
                <ul class="navListe">
                    <li class="navList"><a href="{{ path('app_home') }}">Accueil</a></li>
                    <li class="navList"><a href="{{ path('app_home') }}">Entretien</a></li>
                    <li class="navList"><a href="{{ path('app_home') }}">Réparation</a></li>
                    <li class="navList"><a href="{{ path('app_home') }}">Véhicule Occasion</a></li>
                    <li class="navList"><a href="{{ path('app_home') }}">Contact</a></li>
                    <li class="navList"><a href="{{ path('app_review_show') }}">Avis</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>

    