{% extends 'base.html.twig' %}

{% block title %}Liste des Admins{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/admin_crud.css') }}">
{% endblock %}

{% block body %}
    <h1 class="titre">Liste des Admins</h1>

    <table class="table">
        <thead>
            <tr class="tableIndex">
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for admin in admins %}
            <tr class="tableDescription">
                <td>{{ admin.email }}</td>
                <td class="tableAction">
                    <a href="{{ path('app_admin_crud_edit', {'id': admin.id}) }}" class="btnActionModifier">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td>Aucun admin</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_crud_new') }}" class="btnAjouter">Ajouter un Admin</a>
    <a href="{{ path('app_admin') }}" class="btnAction">Retour</a>
{% endblock %}
